/* taken from https://gridbyexample.com/examples/example18/ */
body {
  margin: 40px;
}

.point {
  border: 1px solid #ccc;
  padding: 0;
  /* BAD but quick and temp */
  line-height: 46px;
}

.point.target {
  background-color: #444
}

.point.snake {
  background-color: greenyellow;
}

.wrapper {
  width: 600px;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
  /* grid-auto-flow: column; */ /* Meaning 0 1 2 3 4 => columns */
  grid-auto-flow: dense; /* Meaning 0 1 2 3 4 => rows */
}