.wrapper {
  width: 600px;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;

  /* Meaning 0 1 2 3 4 => columns. If we use array [then it's Y, that is X] */
  grid-auto-flow: column;

  /* Meaning 0 1 2 3 4 => rows. If we use array [then it's X, that is Y] */
  /* grid-auto-flow: dense; */
  /* Default CSS setting */
}
