.point {
  border: 1px solid #ccc;
  padding: 0;
  /* BAD but quick and temp */
  line-height: 46px;
}

.point.light {
  background-color: white
}

.point.dark {
  background-color: black;
}

/* .point.target {
  background-color: #444
} */

.point.target.light {
  background-color: #444
}

.point.target.dark {
  background-color: yellow
}

.point.snake {
  background-color: greenyellow;
}

.point.snake.head {
  background-color: #61dafb;
  /* box-shadow: 0px 1px 10px red; */
}

.point.snake.head.bang {
  background-color: red;
}
